body {
	background: #eee;
}

.application {
	opacity: 1;
}

.application.loading {
	opacity: 0.2;
	transition: opacity 600ms;
}

.small-box {
	height: 130px;
	width: 130px;
	background-color: #128912;
	padding: 20px;
	margin: 20px;
}
